<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Staging</title>
</head>
<body>
    <div class="main">
        <div class="first">
                <div class="nav">
                    <div class="nav-name">
                        <h1>Staging.</h1>
                    </div>
                    <div class="navsub">
                        <a href="" class="nav-link">Home</a>
                        <a href="" class="nav-link">Projects</a>
                        <a href="" class="nav-link">About</a>
                        <a href="" class="nav-link">Pages</a>
                        <a href="" class="nav-link">Blog</a>
                        <a href="" class="nav-link">Content</a>
                    </div>
                    <div class="navsub">
                        Call us for any enquiry<br>
                        <span id="phno">+01 123 456 789</span>
                    </div>
                </div>
                <div class="mid">
                    <h1 id="title">QUALITY IS NOT ONLY <br>OUR STANDARD</h1>
                    <div class="midsub"><a href="" id="mid-link">See projects</a></div>
                </div>
                <div class="footer">
                    <div>02 ------------ 02</div>
                    <div ><a href="" id="footer-link">Discover more</a></div>
                    <div >
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </div>
                </div>
        </div>
    </div>
    <div class="second">
        <div class="box">
            <h5 id="sec">WHO ARE WE</h5>
            <h2 id="h">WE PROPOSE AND <br> DISSCUSS BUSINESS RULES</h2>
            <p id="para">Designing buildings is a multifaceted and captivating endeavor that combines artistic vision with technical expertise to shape the world around us. Architects and designers embark on a journey where creativity meets functionality, where aesthetics merge with engineering, and where spaces are crafted to inspire, serve, and endure.</p>
        </div>
        <div class="image">
            <img src="disscuss.jpg" alt="two people discussing" height="280px" width="400px">
        </div>
    </div>
</body>
</html>